apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: valkey-vm
  namespace: backend
spec:
  running: true
  template:
    metadata:
      labels:
        app: valkey-vm
    spec:
      domain:
        cpu:
          cores: 1
        resources:
          requests:
            memory: 512Mi  # Bajamos de 1Gi a 512Mi
          limits:
            memory: 512Mi
        devices:
          disks:
          - name: rootdisk
            disk:
              bus: virtio
          - name: cloudinitdisk
            disk:
              bus: virtio
      volumes:
      - name: rootdisk
        containerDisk:
          image: quay.io/containerdisks/ubuntu:22.04
      - name: cloudinitdisk
        cloudInitNoCloud:
          userData: |
            #cloud-config
            package_update: true
            packages:
              - valkey
            runcmd:
              - systemctl enable valkey
              - systemctl start valkey
---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  namespace: backend
spec:
  selector:
    app: valkey-vm
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP