apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
    spec:
      containers:
        - name: valkey
          image: valkey/valkey:7.2
          ports:
            - containerPort: 6379
          args:
            - "--bind"
            - "0.0.0.0"
            - "--protected-mode"
            - "no"


---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  namespace: backend
spec:
  selector:
    app: valkey
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP
