apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  
spec:
  replicas: 2
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
    spec:
      containers:
      - name: valkey
        image: valkey/valkey:7
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  
spec:
  selector:
    app: valkey
  ports:
  - port: 6379
    targetPort: 6379
  type: ClusterIP
