apiVersion: v1
kind: Service
metadata:
  name: go-server
  namespace: backend
spec:
  selector:
    app: go-server
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
